* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2017/01/28/02/24/japan-2014616_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
}

.traffic-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 140px;
  height: 360px;
  border-radius: 10px;
  margin-top: 1%;
  border: solid 2px gray;
  box-shadow: 5px 10px 18px #000;
}

.light {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 10px;
}

.red {
  background-color: #ff4136;
}

.yellow {
  background-color: #ffdc00;
}

.green {
  background-color: #2ecc40;
}

.purple {
  background-color: #6a00ff;
}

.selected {
  box-shadow: 0px 0px 20px #fff;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 500px;
  height: 100px;
  border-radius: 10px;
  margin-top: 2%;
  border: solid 2px gray;
  box-shadow: 5px 10px 18px #000;
}

a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0;
  margin-right: 20px;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  background-color: #ffffffe0;
  border-radius: 10px;
}

a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
a:nth-child(1) {
  filter: hue-rotate(270deg);
}
a:nth-child(2) {
  filter: hue-rotate(110deg);
}
a span {
  position: absolute;
  display: block;
}
a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}
a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}
a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}
@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}
a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}
